.wrap{
  flex:0 1;
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.08);
  border-right: 1px solid var(--border-box-color);
}

.logo{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-box-color);
  padding-bottom: 1.5rem;
}

.logo span {
  font-family: "Times New Roman";
  font-size:2.5rem;
  color:var(--primaryOrange);
}

.navigation{
  margin-top:1.5rem;
}

.navlink{
  font-size:0;
  width:3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin:1rem 0;
}
.navlink svg{ 
  max-width: 1.75rem;
  max-height: 1.75rem;
}
.navlink svg path{
  fill:var(--text-darkInactive);
}
.navlink.active{
  background:var(--primaryBlack);
  
}
.navlink.active svg path{
  fill:rgb(255,255,255);
}

.navlink:hover{
  border: 1px solid var(--border-box-color);
}

