/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root{
  --primaryOrange: rgba(231, 155, 56, 1);
  --primaryRed: rgba(202, 107, 110, 1);
  --primaryBlue: rgba(71, 143, 150, 1);
  --primaryBlack: rgba(48, 48, 48, 1);
  --lightOrange: rgba(248, 222, 189, 1);
  --lightBlue: rgba(208, 251, 255, 1);
  --lightRed: rgba(251, 240, 243, 1);
  
  --text-darkInactive: rgba(112, 112, 112, 1);

  --background-white: rgba(255, 252, 248, 1);
  --border-box-color: rgba(232, 231, 231, 1);

  --error-red: rgba(233, 93, 92, 1);
  --success-green: rgba(144, 223, 158, 1);


  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'OpenSans', sans-serif;
  --font-accent: 'Montserrat', sans-serif;
}

ul,ol{
  padding:0;
  list-style-type: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;

}

html:focus-within {
  scroll-behavior: smooth;
}

html, body{
  width:100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  text-rendering: optimizeSpeed;
  background: linear-gradient(90.00deg, rgba(227, 238, 255, 1),rgba(227, 238, 255, 1) 3%,rgba(242.91583251953125, 231.03683471679688, 233.11573791503906, 1) 97%,rgba(243, 231, 233, 1) 99%);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
