*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  color:var(--primaryBlack);
}

ul,ol{
  padding:0;
  list-style-type: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;

}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
