.header{
  color:#000;
  font-family: 'OpenSans';
  font-size:1.5rem;
  border-bottom: 1px solid var(--border-box-color);
  background-color: var(--primaryYellow);
  padding: 2rem;
}

.title{
  font-size:1.5rem;
  font-weight: 500;
}


